{% load static %}

<footer>
    <div id="footer-content">
        <span class="basic-content-text">Site created by Jakob Dubin, Antonio LLanes, Joseph Alderson, and Shawn Norvil for a school project.</span> 
        <br>
        <span class="basic-content-text">Icons by <a href="https://icons8.com/" target="_blank">Icons8</a>. Some images taken from <a href="https://pixabay.com/">pixabay</a>. Site logo by witch_lo from <a href="https://wallpapers.com/png/happy-emoji-victory-hand-gesture-jcgo9l64iegrpq0x.html" target="_blank">Wallpapers.com</a>.</span>
    </div>
</footer>