#settings-box {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: auto;
}
#settings-nav-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#settings-box input {
    width: 98%;
}
#settings-box textarea {
    height: 100px;
    width: 98%;
}
#submit-form-div {
    margin: 0;
    height: 50px;
    width: 125px;
}
.log-out-btn {
    /* width: 100px; */
    margin: 0;
    background-color: red;
    color: white;
    display: inline;
}
.log-out-btn:hover {
    background-color: darkred;
}

#delete-account-div{
    display: flex;
    justify-content: end;
}