#signin-signup-box {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: auto;
}
#credentials-form input {
    margin: 6px 0;
    width: 98%;
}
#submit-form-div {
    display: flex;
    justify-content: center;
}
#signin-signup-btn {
    height: 40px;
    font-size: larger;
    font-weight: bold;
}
#remember-me-option {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 130px;
}
#remember-me-option label {
    white-space: nowrap;
}
#switch-between-signin-and-signup {
    display: flex;
    justify-content: center;
}
#switch-between-signin-and-signup a {
    color: blue;
    margin-left: 2px;
}