{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>VibeSpace</title>
    <link rel="icon" href="{% static 'img/smiling-cube.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/site-header-footer.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/vibespace-main-styles.css' %}" type="text/css">
</head>

<body>
    <div id="header-main-wrap">
        {% include "include/header.html" with showSearchBar=False %}
        
        <main>
            {% include "include/left-sidebar.html" with authenticatedUser=authenticatedUser %}

            <div>
                <div class="main-content-box basic-search-div">
                    <div>
                        <input type="text" id="basic-user-search-bar" class="search-bar" placeholder="Search Users...">
                        <button class="header-btn search-btn" id="basic-user-search-btn">
                            <img src="{% static 'img/icons8-mag-glass.png' %}" width="16px" height="16px">
                        </button>
                    </div>
                    <button class="main-btn">Advanced User Search</button>
                </div>

                <div class="main-content-box search-results-box">
                    {% for user in usersDisplayed %}
                    
                    {% include "include/user-display-container.html" with user=user displayViewProfileBtn=True %}

                    {% endfor %}
                </div>
            </div>

            <!-- This invisible div with nothing in it is here to help position the elements. -->
            <div class="invisible-div"></div>
        </main>
    </div>

    {% include "include/footer.html" %}

</body>


<script> 
    let displayedUserObjs = [] 
</script>

{% for user in usersDisplayed %}
<script>
    displayedUserObjs.push({
        id : "{{user.id}}",
        strToMatchWithKeywords : "{{user.username | escapejs}} {{user.displayname | escapejs}} "
    })
</script>
{% endfor %}

<script src="{% static 'js/basic-search.js' %}"></script>
<script>
    basicSearchSetup("basic-user-search-bar", "basic-user-search-btn", displayedUserObjs, "user-display-container-")
</script>